body, html {
    font-family: Arial;
}
img{
    object-fit: cover;
}
.container {
    max-width: 940px;
}

.top-nemu {
    height: 25px;
    background: #f8f8f8;
    overflow: hidden;
}

.top-nemu .top .navbar-right li {
    float: right;
    list-style: none;
    margin-left: 5px;
    margin-top: 2px;
}

.logo {
    height: 26px;
}

form.navbar-form {
    padding-right: 0;
    margin-right: -100px;
    margin-top: 15px;
}

.navbar-default {
    background: white;
    border: none;
    margin: 0;
    border-top: 1px solid #d9d9d9;
}

.menu-search input {
    padding: 0;
    height: 22px;
}

.btn-search {
    background: transparent;
    border: none;
    padding: 4px;
    font-size: 16px;
}

.nav > li > a {
    font-size: 16px;
    font-weight: 600;
    color: #016434 !important;
    padding: 20px 10px;
    text-transform: uppercase;
}

.nav > li > a:hover {
    border-top: 2px solid #296347;
    margin-top: -2px;
}

.menu-active {
    border-top: 2px solid #296347;
    margin-top: -2px;
}

#carousel-example-generic, #carousel-example-generic img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border: none !important;
    background: white !important;;
}

.carousel-indicators .active {
    width: 15px;
    height: 15px;
    background: #ffd800 !important;
}

.about .header {
    height: 75px;
    width: 100%;
    background: #296347;
}

.about p {
    padding: 20px 0;
    text-align: center;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}

.about a.btn {
    border: 1px solid white;
    color: white;
    padding: 4px 20px;
    border-radius: 0;
    margin-left: 15px;
    margin-top: -5px;
}

.business, .news {
    background: #e6e6e6;
    border-bottom: 1px solid #C7C7C7;
    border-top: 1px solid #DADADA;
}

.business .header, .typical .header, .news .header {
    text-align: center;
}

.business .header h3, .typical .header h3, .news .header h3 {
    text-transform: uppercase;
    color: #296347;
    margin-top: 45px;
}

.business p, .typical p, .news p {
    max-width: 525px;
    text-align: left;
    margin: 0 auto 20px;
}

.business .img, .news .img, .typical .img {
    position: relative
}

.business .img img, .typical .img img, .news .img img {
    height: 320px;
    max-height: 320px;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.business .img .hover, .typical .img .hover,.about-img .hover {
    position: absolute;
    height: 100%;
    top: 0;
    background: rgba(43, 126, 93, 0.65);
    width: 100%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;

}

.business .img .hover i, .typical .img .hover i,.about-img .hover i {
    color: white;
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 30px;
}

.business .row h3 {
    text-transform: uppercase;
    text-align: center;
    color: #4b4c4b;
}

.business .readmore, .typical .readmore {
    background: #296347;
    border-radius: 0;
    margin: 40px auto;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    box-shadow: 0px 6px 10px 0px #666;
}

.business .bottom, .typical .bottom {
    text-align: center;
}

.business .row, .typical .row {
    border-top: 1px solid #d9d9d9;
    margin-top: 40px;
    padding-top: 30px;
}

.typical h2, .news h2 {
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    text-align: center;
    display: block;
    border-bottom: 1px solid #888888;
    margin: 14px 20px;
    padding-bottom: 5px;
}

.typical .img .bottom, .news .img .bottom {
    background: rgba(0, 66, 37, 0.84);
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 5;
}

.news .img img {
    height: 230px;
}

.typical .img img {
    height: 370px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px dashed #666;
}

.news h4 {
    text-align: center;
    margin: 0 0 20px;
    color: #296347;
}

.news .img .bottom {
    min-height: 50px;
    height: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.news .img .bottom span {
    color: white;
    text-align: center;
    display: block;
    font-size: 12px;
    padding: 5px;
    border-bottom: dashed 1px #909090;
    margin: 0 30px;
}

.news .bottom p {
    color: white;
    padding: 0 5px;
    margin-bottom: 5px;
    font-size: 13px;
}

.news .img:hover .bottom, .business .img:hover .hover, .typical .img:hover .hover,.about-img:hover .hover {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.news .readmore {
    float: right;
    color: #296347;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    padding-right: 0;
}

.footer .header {
    height: 40px;
    background: #464646;
}

.footer .content {
    height: 210px;
    background: #222222;
}

.footer .container h3 {
    position: absolute;
    left: -103%;
    width: 100%;
    display: block;
    text-align: right;
    color: #ffc000;
    top: -16px;
    padding: 8px;
    background: #252525;
    font-size: 16px;
    text-transform: uppercase;
}

.footer .container h3::after {
    content: "\e072";
    font-family: 'Glyphicons Halflings';
    color: #252525;
    position: absolute;
    right: -30px;
    font-size: 37px;
    top: -5px;;
}

.footer .bottom {
    height: 40px;
    border-top: 1px solid #464646;
    background: #222222;
}

.footer .bottom p {
    margin: 0;
    text-align: center;
    color: white;
    padding-top: 10px;
}

.footer .bottom a, .footer .header p {
    color: #ffc000
}

.footer .header p {
    font-size: 12px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 12px;
}

.footer .content .nav li {
    padding: 0 10px;
}

.footer .nav a {
    color: #967233 !important;
    font-weight: 600;
}

.footer .nav {
    float: none;
    display: inline-block;
}

.footer .content .container {
    text-align: center
}

.footer .nav > li > a:focus, .footer .nav > li > a:hover {
    background: transparent;
    color: white !important;
}

.footer .info {
    margin-top: 30px;
    text-align: left;
}

.footer .info h4 {
    color: #444444;
    font-size: 18px;
}

.footer .info p {
    margin-bottom: 0;
    color: gray;
    font-size: 12px;
}

#carousel img {
    float: left;
    width: 21%;
    margin: 0 2%;
    height: 100%;
}

#carousel, .caroufredsel_wrapper {
    width: 100% !important;
    height: 160px !important;
    overflow: hidden;
}
.partners{background: #f5f6f7}
.partners .slide{position: relative}
.partners .next,.partners .prev{
    width: 50px;
    height: 100%;
    position: absolute;
    cursor: pointer;
}
.partners .prev{right: 0}

.partners .next i,.partners .prev i{
    position: absolute;
    top: 45%;z-index: 999;
    font-size: 24px;
    color: gray;
}
.partners .prev i{right: 0}

.about-content h3{
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    text-transform: uppercase;
    color: #296347;
    font-weight: 600;
    padding-bottom: 10px;
    margin-top: 50px;
}
.about-content .img-content{position: relative;margin-top: 40px}
.img-content img{width: 100%;max-height: 490px}
.img-content h3{
    position: absolute;
    bottom: 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    background: rgba(30, 62, 45, 0.81);
    color: white;
    font-size: 20px;
    padding: 18px;
}
.about-content{
    min-height: 1500px;
}
.active-sub{
    border: 1px solid #ffc000 !important;
    color: #ffc000 !important;
}
a.btn:hover{
    border: 1px solid #ffc000 !important;
    color: #ffc000 !important;
}
.page-news a.btn{
    border: none;
}
.page-news .header{
    background: #005b7f !important;
}

.new-detail .sidebar h3{
    background: #005b7f;
    color: white;
    margin-bottom: 0;
    padding: 13px;
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
}
.no-pading{
    padding: 0;
}
.media-object{
    width: 90px;
    height: 90px;
}
.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}
.media-body p{
    font-size: 12px;
    height: 32px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    margin-bottom: 0;
}
.media-body span{
    color: grey;
    font-size: 12px;
    font-style: italic;
}
.media{
    padding-bottom: 5px;
    border-bottom: 1px dashed #666;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 40px;
    margin-bottom: 30px;
}

.strike > span {
    position: relative;
    display: inline-block;
    color: #296347;
    font-size: 20px;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #8E8E8E;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
.about-img{position: relative}
.about-img img{
    width: 100%;
    height: 250px;
}
.bg{
    background: #e6e6e6;
    min-height: 0;
}
.about-content.bg h4,.about-content.bg2 h4{
    text-align: center;
    color: #296347;
    font-weight: bold;
    font-size: 22px;
}
.read{
    border: 1px solid #296347;
    color: #296347;
    padding: 2px 10px;
    border-radius: 0;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.pagination>li>a, .pagination>li>span{
    border: none;
    margin: 0 15px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover,.page-active{
    z-index: 2;
    color: #FFFFFF !important;
    background-color: #296347 !important;
    border-radius: 50%;
}
.pagination>li:first-child a:hover,.pagination>li:last-child a:hover{
    color: #337ab7 !important;
    text-decoration: none;
    background-color: #fff !important;
}
.date{
    width: 85px;
    height: 80px;
    position: absolute;
    background: #005b7f;
    bottom: -30px;
    left: 40%;
    z-index: 99999;
}
.date .line{
    position: absolute;
    height: 1px;
    background: white;
    width: 100%;
    transform: rotate(136deg);
    top: 40px;
    left: 0px;
    right: -84px;
    z-index: 99999;
}
.date .day{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 16px;
    display: block;
 }
.date .moth{
    color: white;
    font-size: 18px;
    padding: 2px 46px;
    display: block;
    margin-top: -13px;
}

.about-img:hover .date{
    background: #56b596;
}
.n .about-img{
    margin-bottom: 50px ;
}
.n{padding-bottom: 50px}
.n h4{
    font-size: 18px !important;
    color: black !important;
    font-weight: 500 !important;
}

.v .about-img .hover i{
    color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 35%;
    left: 42%;
    font-size: 60px;
}
.dates{
    width: 80px;
    height: 30px;
    background: #005b7f;
    margin: 20px auto 0;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}
.v .about-img{
    margin-bottom: 20px;
}